.one {
    background-color: #1f2937;
    padding: 20px 180px 100px 180px;
}

.header {
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

ul {
    font-size: 18px;
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.content-one {
    display: flex;
    justify-content: space-between;
}

.text-one h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    width: 450px;
    margin: 0;
}

.text-one h2 {
    font-size: 18px;
    color: #e5e7eb;
    width: 450px;
}

.text-one button {
    background-color: #3882f6;
    border-radius: 5px;
    border: 0;
    font-size: 15px;
    font-weight: bold;
    color: #e5e7eb;
    padding: 5px 25px;
}

.two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.two h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.content-two {
    display: flex;
    gap: 30px;
}

.service-one img, .service-two img, .service-three img, .service-four img {
    border: 3px solid #303130;
    border-radius: 10px;
    margin: 0;
    padding: 0;
}

.three {
    background-color: #e5e7eb;
    padding: 100px 250px;
}

.quote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
}

.quoted {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
    margin-top: -20px;
}


